h1 hello
p= msg

- var names = {middle: 'George'}
p= names.middle

//span #{pageData.name[0]}


each item in pageData.name
    p #{item}

    each item in pageData2.name
        p #{item}

    //p #{pageData.name[1]}

